.events__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  gap: 20px;
  padding: 20px 0;
  .card{
    .card__img{
      img{
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .events__container {
    flex-direction: column;
    .card {
      .card__img {
        img {
          width: 200px;
        }
      }
    }
  }
}
